[2017-03-28 01:17] bgreenwell opened #1 "Convert Rd to roxygen documentation"
I'll work on this shortly!

[2017-04-04 12:08] #1 closed

[2017-04-04 12:09] bgreenwell opened #3 "Add support for Travis CI"

[2017-04-04 12:09] bgreenwell opened #4 "Add a README file"

[2017-04-05 13:26] #3 closed

[2017-05-02 10:49] PatrickOReilly opened #5 "Inconsistent treatment of factor levels not present when training"
Tested with `gbm 2.1.1` and `2.1.3`.

The test below shows a factor variable with levels 1 to 10. For training, levels 2, 8, 9, and 10 are absent.

The `c.split` defaults to the right node for level 2 but is truncated so no split is recorded for levels 8, 9 or 10. `predict` shows that level 2 does indeed go to the right node, while 8, 9 and 10 go to the missing node.

To summarize:

- For any leve

[2017-05-03 13:52] mzoll opened #6 "gbm() binary classification of factors seriously broken"
Hej, I am fairly new to R and wanted to try out your gbm implementation. First, I tried running and understanding the example: done and done. After that I wanted to applicate it to my own data and the algorithm blew up into my face, died a horrible deadth and crashed the entire R-session.
It took me some trials and test, why this is so, which eventually lead to much more strangeness in the input c

[2017-05-05 13:44] bgreenwell commented on #5
I'm not convinced that the missing node is appropriate at all when confronted with levels not available during training. To me, the best behavior would be for `gbm` to fail and throw an error message, unless anyone disagrees?

[2017-05-05 14:39] gregridgeway commented on #5
I disagree. Do not throw an error on this. Maybe, issue a warning. But send the observation to the missing node. It seems excessive to not allow a prediction if in one node of one tree a feature is missing.

Greg

From: Brandon Greenwell [mailto:notifications@github.com]
Sent: Friday, May 5, 2017 9:45 AM
To: gbm-developers/gbm <gbm@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>

[2017-05-08 12:30] bgreenwell commented on #5
I'm fine with that. I'll see if I can't get to it in the next week or two.

[2017-05-08 16:15] pat-oreilly commented on #5
Thanks. Would this suggest the need for a third valid value for a `c.split` to indicate missing, e.g. 0?

[2017-05-15 14:42] bgreenwell commented on #5
`c.splits` already uses `0` to indicate levels not available during training. So it's likely a bug somewhere in the code. In fact, `c.cplits` in this example should only have 6 components, not 7.

[2017-05-17 14:38] pat-oreilly commented on #5
Would you agree that as a start, the following from [here](https://github.com/gbm-developers/gbm/blob/master/R/gbm.fit.R#L94) should change?
[code]
I think we need
[code]
so that missing levels which happen to be at the end are not ignored.

[2017-05-17 15:05] gregridgeway commented on #5
Depending on where you are planning to insert that, you'll get the same answer or a bug. The line
`x[,i] <- as.numeric(x[,i])-1`
converts x to numeric so if you call levels() after that line you'll introduce a bug. If you insert your code before that line you'll get the same answer as the current
`var.type[i] <- max(x[,i],na.rm=TRUE)+1`

[2017-05-17 15:19] pat-oreilly commented on #5
Sorry, to clarify, here's what I was thinking:
[code]
I believe that would give the same as the existing code iff the ultimate level of the factor variable `x[,i]` variable is actually present (which is not always the case).

[2017-05-17 15:25] gregridgeway commented on #5
Ah yes. I see. But I still don't think this solves the problem. Your original problem was that '2' was going to the wrong node. 8, 9, and 10 appear to correctly go to the missing node. I'm afraid that this change would make 8, 9, and 10 join 2 in the right node.

[2017-05-17 15:39] pat-oreilly commented on #5
I just thought this might be step 1. My impression of the intent of this block of code is to determine the number of valid levels for any factor variable, which would seem like something useful for gbm internals. At very least it would be useful for making `c.splits` the correct length, i.e. `-1  0 -1 -1 -1  1  1 0 0 0` for the original problem. I agree that making missing the default node would s

[2017-06-07 15:15] bgreenwell commented on #5
Found the issue; just need to change `as.numeric(x[,i])-1` to `as.numeric(factor(x[,i]))-1` in a few places. The former gave the wrong value for `var.type` in the `gbm.fit` function which affected `c.splits`. Same goes for `predict.gbm`. I'll make the fix in the next day or two after I test it a bit more.

[2017-06-08 18:35] bgreenwell commented on #5
Should be fixed now.

[2017-06-08 18:35] #5 closed

[2017-06-21 18:41] bgreenwell commented on #6
@mzoll sorry for the delayed response. I think you're right about the CV and R crashing (the response format is not checked before being passed to some of the CV routines), I'll try to locate and patch the issue soon. FYI, there are a few typos in your example code, so I was not able to run it exactly, but I did reproduce the error. Also, I'm not sure what you mean regarding issue 2, could you kin

[2017-06-23 13:43] bgreenwell opened #9 "False positive in R CMD check"
Even after running
[code]
we still get the following NOTE:
[code]
Others have reported similar issues and reported as a false positive to CRAN.

[2017-07-17 19:50] bgreenwell opened #14 "Change gradient to generalized in hex logo"

[2017-07-18 14:15] #14 closed

[2017-07-28 18:48] JustinMShea opened #16 "gbm ORPHANED on CRAN"
Hey all,

Your probably aware, but just a heads up, gbm has been OPRHANED on CRAN.

[2017-07-31 16:08] bgreenwell commented on #16
Thanks! I'll plan to push an update to CRAN when I can find the time and bring it out of ORPHAN status, but there is another bug I found with cross-validation that I'd like to see fixed first. Hopefully in the next month or so!

[2017-10-20 18:33] Andy-McCarthy opened #17 "Wrong plot labels in partial dependence plots"
[code]

[2017-10-25 17:37] bgreenwell opened #18 "Move vignette to vignette folder"

[2017-10-26 19:52] #18 closed

[2017-10-26 19:56] bgreenwell commented on #17
Potentially fixed, but needs more testing, so keeping this open for now.

[2017-10-27 17:58] bgreenwell opened #19 "More consistent marginal effect plots"
Currently uses `base` and `lattice` graphics. Switch everything to `lattice`.

[2017-11-06 17:36] #17 closed

[2017-11-06 17:36] #19 closed

[2018-01-20 16:46] entelechie opened #20 "Parallelized training for R GBM"
My name is Sheng. I work for A9.com (an Amazon subsidiary). My officemate has contributed the pairwise loss[0] for GBM and we still actively use the library internally.
We have an internal version of GBM with parallelized training implemented, which brings 5-8 times speed-up and enabled training on twenty million samples.
The change is done on the top of [1]. It is fully backward compatible.

Do y

[2018-03-27 13:41] harrysouthworth opened #21 "Debian bug report"
This was just brought to my attention. It regard version 2.1.1 and the post is about 2.5 years old.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=805395

[2018-03-27 14:06] bgreenwell commented on #21
Thanks for digging this up. I was made aware that the old `gbm` has a few issues with multinomial support. I plan to come back to this after I'm done teaching for the semester in April!

[2018-05-02 04:28] richie312 commented on #6
Very true. I was making a generic user defined function for bagging, randomForest and gbm by the following code,

##Loading packages

pacman::p_load(shiny,shinydashboard,gbm, randomForest,ggplot2,ipred,caret,ROCR,dplyr,ModelMetrics)

## user defined function
     model = function(algo =gbm ,distribution = 'bernoulli',
                 type = 'response', set ='AUC',n.trees =10000){

     ## Fit the

[2018-05-02 04:35] richie312 commented on #6
This is for german credit dataset. The reponse variable is "default". Before applying the model, the
resposne variable is treated as,

            ## load the dataset
            data_x = read.csv("credit.csv")

           ## Preprocessing the dataset

           data_x$default <- ifelse(data_x$default == "yes", 1, 0)

The problem is with gbm. The R session will crash if response variable is not c

[2018-05-16 13:16] bgreenwell commented on #20
Sorry for the delayed response. You are more than welcome to make a pull request, provided the package remains backward compatible!

[2018-07-02 11:36] bgreenwell opened #22 "Update vignette"

[2018-07-02 11:36] bgreenwell opened #23 "Add pkgdown site"

[2018-09-12 15:46] bgreenwell opened #24 "Split help files for gbm, gbm.fit, and gbm.more into separate files"

[2018-09-15 02:08] bgreenwell opened #25 "Add vip to Suggests"

[2018-09-15 02:08] bgreenwell opened #26 "Add autoplot method"

[2018-09-15 19:05] #9 closed

[2018-09-15 19:05] #16 closed

[2018-09-15 19:05] #25 closed

[2018-10-05 17:51] xelax opened #27 "pairwise examples broke in 2.1.4, they work in 2.1.3"
Just running the example in https://github.com/gbm-developers/gbm/blob/master/demo/pairwise.R
you get following error when running the pairwise models:

[code]

reverting to 2.1.3 fixes the error

[2018-10-06 13:19] bgreenwell commented on #27
@xelax thanks for reporting! Should be [fixed](https://github.com/gbm-developers/gbm/blob/master/NEWS.md) in the development version now. Can you confirm?

[2018-10-08 16:56] WRobertLong opened #28 "Inconsistent predictions in 2.1.4 vs 2.1.3"
Here is a minimum working example to reproduce this problem, which did not occur in 2.1.3

    mydata <- structure(list(Count = c(1L, 3L, 1L, 4L, 1L, 0L, 1L, 2L, 0L, 0L, 1L, 1L, 2L, 1L, 2L, 2L, 1L, 2L, 0L, 2L, 3L, 1L, 4L, 3L, 0L, 4L, 1L, 2L, 1L, 1L, 0L, 2L, 1L, 4L, 1L, 5L, 3L, 0L, 0L, 1L, 1L, 0L, 1L, 0L, 0L, 2L, 0L, 0L, 1L, 1L, 1L, 0L, 3L, 1L, 1L, 0L, 3L, 1L, 1L, 1L, 1L, 2L, 3L, 2L, 2L, 0L, 0L, 3L

[2018-10-08 20:25] bgreenwell commented on #28
@WRobertLong Thanks for reporting the issue! The predictions are the same, but out of order. Should be an easy fix; however, it'll probably have to wait until this weekend or early next week.

[2018-10-09 04:05] xelax commented on #27
It works now! thank you for the very quick turnaround.

[2018-10-09 04:05] #27 closed

[2018-10-10 16:56] WRobertLong commented on #28
No worries - thank you !

[2018-10-15 10:56] Quaterion opened #29 "Error in Quantile Regression"
I am using the version 2.1.4 of the gbm package. Specifying the quantile as it is described in the documentation (distribution = list(name = 'quantile', alpha = 0.25)) gives an error. See the example below:

    library(gbm)

    #the data is genrated using the example from the official documentation page 9 https://cran.r-project.org/web/packages/gbm/gbm.pdf
    # Simulate data
    set.seed(101) #

[2018-10-15 13:24] bgreenwell commented on #29
@Quaterion thanks for reporting! This should've been fixed as part of [this issue](https://github.com/gbm-developers/gbm/issues/27). Can you try it again using the current development version on GitHub to confirm?

[code]

[2018-10-17 14:39] patel643 commented on #28
The predictions are no longer accurate for the project I am working on. The predictions are varying based on the number of entries in the dataframe.

Example:
Prediction for one entry:
0.2287335

Predictions for 22 entries (1st entry is same as for one entry):
0.4799269 0.4846480 0.4911518 0.4800993 0.3232137 0.3232137 0.5234675 0.3244430 0.3461877 0.4864271 0.3301743 0.3301743 0.4526724 0.3244430

[2018-10-17 15:41] bgreenwell commented on #28
@patel643 We think we found the issue; seems to be related [this patch](https://github.com/gbm-developers/gbm/issues/5). Does the training data in your project include factors? If so, then this patch is likely the culprit and we can push a fix quickly.

[2018-10-17 16:26] patel643 commented on #28
@bgreenwell Yes, it does.

[2018-10-17 16:54] bgreenwell commented on #28
@patel643 thanks for reporting the issue, we'll try to have a patch in the next week or so!

[2018-10-19 01:02] AvikDalal commented on #29
@bgreenwell Thanks for the update about development version. I had some issues around R tools versions but once I sorted that, dev gbm worked fine on quantile regression.
`library(devtools)
assignInNamespace("version_info", c(devtools:::version_info, list("3.5" = list(version_min = "3.3.0", version_max = "99.99.99", path = "bin"))), "devtools")
find_rtools() # this shoudl be TRUE
devtools::install

[2018-10-19 01:13] AvikDalal commented on #29
@bgreenwell  Thanks for update. Quantile regression is working fine with the dev package.
`library(devtools)
assignInNamespace("version_info", c(devtools:::version_info, list("3.5" = list(version_min = "3.3.0", version_max = "99.99.99", path = "bin"))), "devtools")
find_rtools() # this shoudl be TRUE
devtools::install_github("gbm-developers/gbm")`

[2018-10-19 02:28] AvikDalal commented on #29
@bgreenwell Thanks for the update!Quantile Regression is working now with the new dev package.

Only challenge was some R tools compatibility issues, but once I sorted that, it worked perfect.

[code]

[2018-10-25 18:16] #29 closed

[2018-10-25 20:30] bgreenwell commented on #28
@WRobertLong and @patel643 I Just pushed a fix for this issue, can both of you confirm that the issue has been resolved?

[2018-10-30 17:28] bgreenwell opened #30 "Cross-validation error"
[code]

[2018-10-30 20:35] patel643 commented on #28
@bgreenwell I am still facing the issue.

[2018-10-30 22:40] bgreenwell commented on #28
@patel643 It's difficult to diagnose the cause of your issue without a reproducible example. Could you post one so that we could better diagnose the cause of your issue?

[2018-10-31 14:11] bgreenwell commented on #28
Also, I'm referring to the current development version of **gbm**:

[code]

[2018-11-02 14:24] see24 opened #31 "relative.influence gives different value when n.trees is given or not for multinomial distributions"
I noticed that `relative.influence`  and `summary` give different answers for the relative influence for multinomial distributions and when I looked a bit deeper I noticed that `relative.influence` gives a different result if it is called with `n.trees` specified or the default which is to take the `object$n.trees`
[code]
The problem is that in `relative.influence` it multiplies `n.trees` by the n

[2018-11-02 16:04] bgreenwell commented on #31
@see24 Good catch, and thank you! I'll take a look at the PR this weekend!

[2018-11-06 02:10] cunningjames commented on #31
@bgreenwell The pull request looks good to me, for what it's worth. I'm not imaginative enough to think of a use case in which you'd *not* want to perform that multiplication, so the pull request as written seems as reasonable to me as the alternative of keeping relative.influence as-is but multiplying within summary.gbm.

[2018-11-06 12:57] bgreenwell commented on #31
Thanks @cunningjames for the review.

[2018-11-06 12:57] #31 closed

[2018-11-06 20:18] cunningjames commented on #31
@bgreenwell Hey, no problem. The _gargantuan_ effort it took for me to validate a three-line pull request won't be soon forgotten, though!

[2018-11-13 19:58] patel643 commented on #28
@bgreenwell The inconsistency issue has been resolved. Thank you!

[2018-11-13 21:54] patel643 commented on #28
@bgreenwell The inconsistency issue has been resolved. Thank you!

[2018-11-13 23:58] #28 closed

[2018-11-15 23:41] xelax commented on #27
are you planning to releaser 2.1.5 anytime soon? I'd like to move my scripts to a released version rather than the dev one.

[2018-11-16 19:42] bgreenwell commented on #27
@xelax Yep, we are planning to release within a week or so!

[2018-11-22 19:32] ctlamb opened #33 "cv.threshold definition"
Hello, I am using GBM to created boosted regression trees for species distribution modelling, I then predict these models onto raster stacks, and classify this continuous raster into presence/absence using a threshold.

I have been trying to find a definition of cv.threshold (MODEL$cv.statistics$cv.threshold), as I think that is what I want to use as my threshold. But can't seem to find any defini

[2018-11-27 15:43] cutedou opened #34 "plot.it option in gbm.perf function"
In the latest version of GBM package (2.1.4), the 'plot.it' option in the 'gbm.perf' function doesn't take effect . Both 'FALSE' and 'TRUE' generates the performance measurement plot.

[2018-11-27 16:46] bgreenwell commented on #34
@cutedou thanks for catching, should be an easy fix!

[2018-11-27 17:16] bgreenwell commented on #34
Fixed in the dev version!

[2018-11-27 17:16] #34 closed

[2018-11-27 17:29] bgreenwell commented on #33
Hi @ctlamb, I am not familiar with this statistic and in fact I don't even think it's part of the **gbm** package. Do you have some example code? Are you by chance using the [dismo](https://cran.r-project.org/package=dismo)?

[2018-11-27 17:30] bgreenwell commented on #33
You can see how it's computed here: https://github.com/cran/dismo/blob/master/R/gbm.step.R

[2018-11-27 18:34] ctlamb commented on #33
Oops, thanks!

[2018-11-27 18:59] #33 closed

[2018-12-17 14:32] bgreenwell opened #35 "Prep for CRAN release"
- [ ] Re-run tests.

- [ ] Run `revdepcheck::revdep_check()`

[2018-12-29 21:07] wolski opened #36 "summary and plot fails with errors on object of class gbm"
These are the errors produced.

[code]

below is the code to reproduce it. I do attach the diachp.Rds file in zip archive (direct upload of Rds files not posibble).

[code]

[diachp.zip](https://github.com/gbm-developers/gbm/files/2716717/diachp.zip)

[2019-01-02 01:38] bgreenwell commented on #36
@wolski This is odd indeed. The fitted models is essentially empty! I'll look into it over the next couple of days!

[2019-01-02 14:19] bgreenwell commented on #36
I see the issue @wolski.  Your response is coded as 0/1, but stored with class `"factor"`. Using `distribution =  "bernoulli"` requires the response to be an integer coded as 0/1. **gbm** has never done a good job at checking for this via the formula method, so perhaps we can improve this before the next release (which will hopefully be soon). For now, the following should work:
[code]

[2019-01-02 14:21] bgreenwell opened #37 "More informative errors for benoulli w/factors"
See https://github.com/gbm-developers/gbm/issues/36.

[2019-01-02 14:22] bgreenwell commented on #36
Closing this issue and opening a new one here https://github.com/gbm-developers/gbm/issues/37.

[2019-01-02 15:06] bgreenwell commented on #37
Something like this might be useful:
[code]

[2019-01-14 02:53] bgreenwell commented on #37
Looks like this is done in [gbm3](https://github.com/gbm-developers/gbm3/blob/master/R/check-response-values.r).

[2019-01-18 16:13] #35 closed

[2019-02-26 19:30] Rostamabd opened #38 "protection stack overflow"
Me and one of my colleagues at University of Florida are working with gbm3 package to analysis some SNP genotype data. I see when the number of predictors (features) are larger than ~40000, we will receive the following error.

Error: protect(): protection stack overflow

So, I’m wondering is there any limitation in the gbm3 package in terms of number of predictors (explanatory variable)? It would

[2019-03-11 07:11] harrysouthworth commented on #38
Sorry for the delay in replying.

Also sorry for not being very helpful. I haven't had any input to the
underlying C and really don't know the answer. However, I'd be surprised if
gbm was a good approach to your problem. Most of your predictors are likely
to be uninformative which creates problems. Approaches based on lasso and
elastic net might be a better first step:
https://web.stanford.edu/~ha

[2019-04-29 01:08] victorz-ca opened #39 "Explanation of distribution="pairwise""
Would it be possible to provide a reference for the distribution="pairwise" option in gbm?

Judging from a recent question in StackExchange, I am not the only one trying to understand this feature? See [https://stats.stackexchange.com/questions/405224/what-does-pairwise-distribuion-in-the-r-gbm-package-mean](url)

[2019-04-30 04:04] victorz-ca opened #40 "Cross-validation error: "factor level [2] is duplicated""
I run into a cv error. Here is the R code (I am following the example in https://www.linkedin.com/pulse/understanding-gradient-boosting-machines-harshdeep-singh/)

#------------ R code -----------------------------------------------------
#-- Download train.csv from https://www.kaggle.com/c/titanic/data

require(caret, quietly = TRUE )
require(gbm)

TrainALL = read.csv("TitanicSurv_byKaggle.csv")

[2019-04-30 04:14] victorz-ca commented on #40
About the error in CV. In the source data Train has levels:

[1] ""  "C" "Q" "S"
By changing the null level as follows:

the code runs.

[2019-04-30 04:23] victorz-ca commented on #40
I closed the Issue too soon...

[2019-04-30 04:29] victorz-ca commented on #40
Changing Train$Sex to numeric yields a different error:
#------------------------------------------------
Train2 = Train
Train2$Sex = as.numeric(Train$Sex)

set.seed(7668)
SimpleGBM_cv = gbm( Survived ~ . - PassengerId - Name - Ticket,
                 distribution = "bernoulli",
                 data = Train2,
                 n.trees = 1000 ,
                 interaction.depth = 4, shrinkage = .

[2019-06-29 00:52] markseeto opened #41 "What is $fit?"
What is the `fit` element of a gbm object?

The documentation says that it's "a vector containing the fitted values on the scale of regression function (e.g. log-odds scale for bernoulli, log scale for poisson)". That seems clear enough, but I would have expected it to be the same as the predictions from predict() applied to the training data, but it's not.

Example:

[code]

I'm using gbm version

[2019-06-29 01:00] markseeto opened #42 "How are predictions calculated from the individual trees?"
How are the predictions from `predict()` calculated from the individual trees?

If I understand the documentation correctly, using `single.tree=TRUE` in `predict()` gives the prediction from an individual tree or trees. But I can't see how to combine the individual predictions. I thought they would be added together with shrinkage applied to each subsequent tree, but that doesn't appear to be corr

[2019-06-29 01:56] gregridgeway commented on #41
I would recommend switching to gbm3 posted on github. And I would not recommend using gbm's multinomial option...I don't think it was ever debugged and had a number of issues. We've actually removed it from gbm3.
-------- Original message --------From: markseeto <notifications@github.com> Date: 6/28/19  8:52 PM  (GMT-05:00) To: gbm-developers/gbm <gbm@noreply.github.com> Cc: Subscribed <subscribed

[2019-06-29 02:08] markseeto commented on #41
Thanks for your reply Greg, and thanks for your work on these packages.

[2019-07-06 18:03] vtao1989 opened #43 "Is the error outputed by gbm a sum squared error or mean squared error?"
Hi all,

I am trying to understand the error outputed by the gbm package. Is that a mean squared error or a sum squared error? For exmaple, cv.error.

Is there anybody having an idea about this?

Thanks.

[2019-07-08 00:27] bgreenwell commented on #43
Hi @vtao1989 whenever `distribution = "gaussian"` the deviance should reflect the MSE. You can see this in the [source code](https://github.com/gbm-developers/gbm/blob/master/src/gaussian.cpp) and also on page 10 of the vignette; `browseVignettes("gbm")`.

[2019-07-08 00:27] #43 closed

[2019-07-08 14:13] vtao1989 commented on #43
@bgreenwell Thanks.

[2019-07-08 22:41] kransom14 opened #44 "Does gbm() create dummy variables from factors automatically with formula interface?"
I recently discovered that the `train()` function in `caret` with automatically create dummy variables for categorical features if the formula interface is used (https://github.com/topepo/caret/issues/1051).

I use `train()` to tune my models and then run them outside of `caret` with the `gbm` package. Does the `gbm()` function also create dummy variables automatically when the formula interface i

[2019-07-08 23:38] bgreenwell commented on #44
Hi @kransom14 no gbm() will not automatically encode categorical variables for you. It’s easy enough to use the carret::dummyVars() function with gbm though if you need to one hot encode. The cattonum package may also be of interest here.

[2019-07-09 14:29] gregridgeway commented on #44
gbm() does not formally create all the indicator variables. For categorical variables with many levels that ends up being expensive in terms of memory and computation time. It is faster to just keep them stored as a single integer-type variable. Then gbm uses the CART algorithm’s method for selecting how to separate the categorical variable optimally into two groups.

Greg

From: kransom14 <notifi

[2019-07-09 20:30] kransom14 commented on #44
Great, thank you.

My categorical variable has about 100 classes. I prefer to leave it as a factor because the importance becomes diluted if it is one-hot-encoded. During cross validation tuning with so many classes, some classes are not present in the resampled training data but are present in the cross validation testing data.  In this case of new levels in the testing data, does gbm() treat the

[2019-07-31 00:32] ngreifer opened #45 "Bad input to predict n.trees causes crash"
When a `numeric` or `integer` of length 0 is given as an argument to `n.trees` in `predict.gbm()`, it causes a crash (not an error), forcing the reset of the R session. This should fail more gracefully so the error can at least be captured rather than causing a full crash.

Example (will cause a crash, so do it in its own R session):

[code]

[2019-07-31 02:16] bgreenwell commented on #45
Thanks @ngreifer I’ll take a look soon and push a fix! You’re welcome to submit a PR as well!

[2019-09-03 15:25] leopreuss opened #46 "Memory leak in GBM"
I am facing an issue related to memory leak with GBM. When I run it too many times, it seems GBM does not releases memory when it completes running. I tried running gc() but it does not deallocate memory and reports fewer allocated memory than rsession process on Task Manager.

I'm using Windows 10 x64, R 3.6.1 and RStudio 1.2.1335.
GBM version is 2.1.5.

The example below causes the problem:
`lib

[2019-09-03 17:35] #22 closed

[2019-09-03 17:35] #23 closed

[2019-09-03 17:35] #26 closed

[2019-09-27 14:03] cunningjames commented on #42
For what it's worth, the shrinkage parameter appears to be a no-op from the perspective of `gbm.fit`. For this example:

[code]

What I'm having a bit of trouble discerning just yet is why the following gives such different results, when -- from my reading of the prediction code in gbmentry.cpp -- it should be identical as well:

[code]

I'll keep looking into this.

[2019-09-27 19:39] markseeto commented on #42
Thanks for your reply @cunningjames. Not sure if I've understood you correctly, but I get different results if I change the value of `shr`.

[2020-02-12 07:37] meetjivani opened #47 "data making trained GBM model very heavy"
Hello team,

We are using GBM model to train on really voluminous data ~15GB. The trained model size becomes huge ~17GB. In the trained model we see data saved along with trees and other model details, taking around 96% of total model size.

Is there any use of data in trained model, specifically for prediction purpose.

[2020-02-12 11:34] bgreenwell commented on #47
Hi @meetjivani, try setting ‘keep.data = FALSE’ when you call ‘gbm()’.

[2020-02-12 17:17] bgreenwell commented on #47
And I think the only use of keeping the data is that potential calls to ‘gbm.more()’ will be faster.

[2020-02-12 18:39] meetjivani commented on #47
@bgreenwell thanks for the confirmation. We did little differently, by keeping keep.data=TRUE for entire training, so that data logistics is not impacted between subsequent iterations. But once training is done, we are setting the model$data parameter to NULL to reduce the model size before saving. We don't have to further train the model, using GBM.MODEL()

Do you see any shortcomings doing this.

[2020-02-12 21:04] bgreenwell commented on #47
Nope, unless you need predictions for specific training observations in the future and you don't plan on keeping the data around!

[2020-02-13 10:06] meetjivani commented on #47
thanks @bgreenwell. Appreciate the help.

[2020-02-13 10:06] #47 closed

[2020-03-10 17:29] benmarchi opened #48 "Use weights instead of observations as stopping criterion for terminal nodes"
I was wondering if it is (or would be) possible to use a weight-based measure instead of an observation count for determining terminal nodes. In particular, is there an efficient way to implement an equivalent of `n.minobsinnode` with weights? One possible workaround involves replicating the rows in the original data.frame based on normalized weights (`weights <- weights/min(weights)`) and fitting

[2020-03-10 17:39] bgreenwell commented on #48
Hi @benmarchi. Unfortunately I doubt it. This would (I think) require changes to the C++ code underneath which I’m hesitant to do since this package is only being maintained for backwards compatibility and bug fixes. However, this would be appropriate for the gbm3 📦, but I don’t think it’s actively maintained at the moment!

[2020-03-10 17:44] benmarchi commented on #48
@bgreenwell Thanks for following up. I figured it was a long shot that there would be an easy fix.

[2020-03-10 17:44] #48 closed

[2020-03-30 11:24] hile19 commented on #40
try "cv_fold  = 3"

[2020-04-10 00:08] bgreenwell opened #49 "Switch from cat() to message() and add a verbose argument?"
The `gbm()` function, as well as others, prints quite a bit of messages that the user has no control over. MIght be nice to give an option to turn these off.

[2020-04-23 09:46] ghost commented on #40
Hy, I ran into the same error working with the package geoGAM.

It would be nice if you could fix this error.
Thanks in advance!

#------------ R code -----------------------------------------------------

#Working with berne and berne.grid from the package geoGAM

#Continuous response
d.ph10 <- berne[berne$dataset == "calibration" & !is.na(berne$ph.0.10), ]
d.ph10 <- d.ph10[complete.cases(d.ph10[

[2020-04-23 11:45] bgreenwell commented on #40
Thanks @AdrianHoch, I’ll take a look as soon as I can. Unfortunately the next few weeks are rather hectic, so not sure exactly when. Will keep you posted.

[2020-04-23 12:47] ghost commented on #40
Dear Brandon

Thanks for your quick reply!
Looking forward to hear from you again.

Kind regards
Adrian

Von: Brandon Greenwell <notifications@github.com>
Gesendet: Donnerstag, 23. April 2020 13:45
An: gbm-developers/gbm <gbm@noreply.github.com>
Cc: Hochreutener Adrian (hoce) <hoce@zhaw.ch>; Mention <mention@noreply.github.com>
Betreff: Re: [gbm-developers/gbm] Cross-validation error: "factor leve

[2020-06-04 20:09] bgreenwell opened #50 "LTO error on CRAN"
https://cran.r-project.org/web/checks/check_results_gbm.html

Per Ripley's email, this needs to be fixed and resubmitted by July 1, 2020.

![bitmoji](https://render.bitstrips.com/v2/cpanel/94f2aaf9-22c9-49ad-b876-73715887f6b8-1551b314-5e8a-4477-aca2-088c05963111-v1.png?transparent=1&palette=1&width=246)

[2020-06-18 22:45] bgreenwell commented on #50
Looks like gbm_shrink_gradient has the wrong number of arguments in gbm-init.c (should be 12 instead of 11).

[2020-06-24 14:21] bgreenwell commented on #30
Works fine when the response is coded outside of `gbm()`:
[code]

[2020-06-24 15:49] bgreenwell commented on #30
Looks like the error occurs in `gbmCrossValPredictions()`; see below. The commented out line would cause the actual response column to be returned in the prediction data, which `predict.gbm()` filters):
[code]

[2020-06-24 16:09] #30 closed

[2020-06-24 16:10] #50 closed

[2020-06-24 16:18] bgreenwell commented on #45
Sorry for the massive delay @ngreifer. Fixed in version 2.1.6 (will be on CRAN soon).

[2020-06-24 16:18] #45 closed

[2020-06-24 16:33] bgreenwell commented on #6
Should be fixed in the next patch (currently in dev).

[2020-06-24 16:33] #6 closed

[2020-06-24 16:34] #37 closed

[2020-06-24 16:40] bgreenwell commented on #40
@AdrianHoch this should be fixed in the latest patch (will soon make its way to CRAN).

[2020-06-24 16:40] #40 closed

[2020-06-25 12:51] bgreenwell commented on #38
Closing this as it concerns **gbm3**, and not **gbm**.

[2020-06-25 12:51] #38 closed

[2020-06-25 13:22] bgreenwell commented on #44
Sorry for the extreme delay, **gbm** should always create a missing node (you can see this for an individual tree using `gbm::pretty.gbm.tree()` and new levels should be treated as missing.

[2020-06-25 13:22] #44 closed

[2020-06-25 13:23] #41 closed

[2020-06-25 13:38] bgreenwell commented on #39
No problem, sorry for the delay:

C. Burges (2010). “From RankNet to LambdaRank to LambdaMART: An Overview,” Microsoft Research Technical Report MSR-TR-2010-82.

[2020-06-25 13:38] #39 closed

[2020-06-25 13:41] bgreenwell opened #51 "Convert `test/validate.gbm()` into tinytest"
The functions `test.gbm()` and `validate.gbm()` essentially act as test script, so makes sense to dump them into a testing suite like **tinytest**.

[2020-06-29 12:56] #51 closed

[2020-07-02 12:07] ckiefer commented on #40
We are running into the same issue with gbm_2.1.5. Sorry my dumb question, where can we get the patched version from? When will there be an updated version in Cran?

[2020-07-02 13:18] bgreenwell commented on #40
@ckiefer Patched version is here on GitHub:
[code]

Should make its way to CRAN in the next week or so, just working on a couple issues. Let me know if you still have the same issue.

[2020-07-08 20:57] flippercy opened #52 "gbm.fit() does not process weighted datasets correctly"
According to the document, gbm.fit() checks the sample size first and returns the error message below when it is too small:

# Check size of data
  if(nTrain * bag.fraction <= 2 * n.minobsinnode + 1) {
    stop("The data set is too small or the subsampling rate is too large: ",
         "`nTrain * bag.fraction <= n.minobsinnode`")
  }

Here nTrain = nrow(sampledata) by default. I am afraid that th

[2020-07-11 10:34] albertbuchard opened #53 "Hotfix: Parallel::MakeCluster() issue in gbmCluster()"
Hi, there is a new issue with parallell:makeCluster() that apparently only affects new version of R on MacOS. (see [here](https://github.com/rstudio/rstudio/issues/6692))

It causes gbm to freeze when using CV. A quick fix is to pass `setup_strategy="sequential"` to makeCluster in gbmCluster().

[code]

Hope it is useful to someone ! :)

[2020-07-13 14:25] bgreenwell commented on #53
Thanks @albertbuchard, I'm aware of the problem, but not sure what the best solution is at the moment. Thanks for the suggestion as well!

[2020-07-17 20:35] isisarantes opened #54 "gbm issue installation R"
Hi,
I was using biomod2 before and it was working just fine. Now when I try to run a gbm model using BIOMOD_ModelingOptions/ BIOMOD_Modeling it crashes R.

So, I decided to update R and all packages. When I try install biomod2, it requires the update of gbm package from 2.1.5 to 2.1.8. However, it doesn't work in my computer and I'm finding the error in the pics attached.

![Screen Shot 2020-07-17

[2020-07-20 19:14] bgreenwell commented on #54
Hi @isisarantes, unfortunately it's hard to say what the issue is. Can you try installing the development version directly from GitHub?
[code]

[2020-07-22 10:02] meet1704 opened #55 "GBM Producing different predictions on 2 different servers"
Hello Team,

We are running GBM model in 2 different servers, with exact same R Version and GBM version. We are trying to predict on exact same data, but GBM is producing different predictions for some of the records. We are not using external label-encoding before doing prediction, but depending on internal label-encoding of the package.

This is Distribution of Predicted variable in server 1, wh

[2020-07-22 13:39] bgreenwell commented on #55
Hey @meet1704, did you set the seed before fitting the two models? GBM, by default, samples the data in various ways before fitting each tree in the sequence. Also, without a reproducible example (or the code used to fit and deploy the model(s)), it is rather difficult to diagnose the issue.

[2020-07-22 17:34] meet1704 commented on #55
Hey @bgreenwell ,

I have seeded the code before prediction. I was not able to replicate the issue with any toy code, so putting actual case.
I have put, my model file - model.Rda and test_data in  test_record.Rda in below link.
[https://github.com/meet1704/GBM_issue](url)

Here is my code snippet -

load("test_record.Rda")
if(nrow(Analytical_ML)>0)
{
  Analytical_ML$model_name<-paste("GBM_Model_2

[2020-09-08 16:16] SOFROGE1 opened #56 "Package version check from DESCRIPTION does not work"
Hello,

I am facing the following issue:
Normally when you I have in the metadata DESCRIPTION of my project a specific version minimum (>=), when an older version is installed, I have a message stopping the building process and telling me that the version is outdated. See the example below:

_Error in loadNamespace(i, c(lib.loc, .libPaths()), versionCheck = vI[[i]]) :
  namespace ‘lubridate’ 1.7.4

[2020-09-09 12:53] bgreenwell commented on #56
Hi @SOFROGE1, not sure this is actually an issue with **gbm**. The current CRAN release is 2.1.8, so there must be something happening in your workflow?

[2020-09-10 09:34] miguellacerda opened #57 "Warning message when gbm distribution is a list"
When a list is provided to the `distribution` parameter in the `gbm` function, an (annoying) warning message is produced:

[code]

I think this could easily be avoided by changing the if statement to:

`if (object$distribution[1] == "multinomial"){...}`

[2020-09-14 15:09] bgreenwell commented on #57
Thanks @miguellacerda, I'll look into it soon!

[2021-03-07 22:38] rachaelvp opened #59 "Suggestion to clarify an error message"
Hello,

I was getting this error when trying to run `gbm.fit`:
`The data set is too small or the subsampling rate is too large: nTrain * bag.fraction <= n.minobsinnode`.

I modified my arguments to ensure `nTrain * bag.fraction > n.minobsinnode`. However, I was still getting the error. Upon closer examination of the source code, I see [here](https://github.com/gbm-developers/gbm/blob/18e595597e19c

[2021-05-03 23:51] bgreenwell opened #60 "Typo in error message"
[code]
Should be `cv.folds`.

[2021-06-02 15:54] bgreenwell commented on #42
@markseeto and @cunningjames . Sorry I'm super late to the party. A couple of things to note. The prediction obtained from `predict(..., single.tree = TRUE)` are already shrunk by the factor `shr`. Second, boosting starts from an initial value (e.g., the mean response for LS loss in regression, and something close to the logit for binary outcomes) and this initial value also needs to be added to g

[2021-07-28 18:53] mserragarcia opened #61 "Predictions between 0 and 1 in cv.fitted, gbm with Bernoulli distribution"
The 'gbm' package guide states the following for cv.fitted: "If cross-validation was performed, the cross-validation predicted values on the scale of the linear predictor. That is, the fitted values from the i-th CV-fold, for the model having been trained on the data in all other folds."

But if the outcome is binary (and estimated using Bernoulli distribution), it'd be great to have fitted values

[2021-07-28 19:26] gregridgeway commented on #61
For the Bernoulli, the default fitted values are on the log odds scale, log(p/(1-p)). You can covert them to probabilities as 1/(1+exp(-predictedvalue)) or use the predict() function with type="response"

https://www.rdocumentation.org/packages/gbm/versions/2.1.8/topics/predict.gbm

Greg

From: mserragarcia ***@***.***>
Sent: Wednesday, July 28, 2021 2:53 PM
To: gbm-developers/gbm ***@***.***>
Cc:

[2021-07-29 02:40] #56 closed

[2021-07-29 05:53] mserragarcia commented on #61
Thank you!

[2021-07-29 08:52] mserragarcia commented on #61
Apologies for this 2nd question: I have tried both methods, and I don't get the same results.

The 2 methods are:
1. Converting the fitted values as indicated, using 1/(1+exp(-predictedvalue))
2. Using predict as follows:
yhat.ins = predict(gbm.fit, newdata=datatrain, type="response")

Is my use of "predict" incorrect?

I think method 1 gives " the fitted values from the i-th CV-fold", but method

[2021-07-29 10:31] bgreenwell commented on #61
Correct @mserragarcia, predict() does not return the cross-validated predictions, those are stored in the $cv.fitted component of the returned gbm object, which you will have to transform according to 1) in @gregridgeway’s comment above.

[2021-07-29 10:40] #61 closed

[2021-11-09 13:07] Epimorpha1 opened #62 "Warning message when the distribution is set to multinomial"
Hi, can you please advise me what to do when running gbm with categorical response variables and when the distribution is set to multinomial. When assuming a multinomial distribution this message is displayed:

What specifically is "broken" and can the results from the gbm be trusted?

[2022-03-23 20:45] MichaelChirico opened #63 "Remove RUnit as a Suggested dependency?"
It doesn't look like it's used anymore.

Happy to file a clean-up PR, but I don't know if it's being kept for some reason.

[2022-03-24 16:50] bgreenwell commented on #63
Hi @MichaelChirico, **RUnit** is actually still used in the [test.gbm()](https://github.com/gbm-developers/gbm/blob/master/R/test.gbm.R) function that ships with the package.

[2022-03-24 18:21] MichaelChirico commented on #63
Ah right. I don't know why I checked the NAMESPACE, Suggests won't show up there.

[2022-08-10 11:55] tnagler opened #64 "Bug: Quantile regression impossible"
[code]
returns
[code]

------
Session info:
[code]

[2022-08-11 09:54] gregridgeway commented on #64
I don't see how gbm() could give that error, but perhaps in relative.influence.R. Make sure you have the latest version. Consider switching to gbm3 instead

[2022-08-11 13:10] tnagler commented on #64
It's indeed in `relative.influence.R`. Just realized that the error comes when printing the model, fitting actually works.

[2022-08-11 13:26] bgreenwell commented on #64
Thanks for the note @tnagler, I’ll get a fix in shortly! @gregridgeway is gbm3 still being actively developed?

[2022-08-24 22:59] SumantraChatterjee opened #65 "Error in 1: trees : argument of length 0"
To whom it may concern

I am using the R-package "gbm" to use "Generalized Boosted Regression Models" for my research. Whenever I run this program in one loop only, it gives me exciting results in very little time (far faster than the one in CARET). However, when I am trying to run multiple loops on this (gbm) I am getting an error message "argument of length zero".

Now, I googled the origin of t

[2022-08-24 23:39] gregridgeway commented on #65
Can you send the code that actually generates the error?The subject line says "1:trees" but that doesn't show up in your code below.Your loop below uses "r"Do not name the object gbm. That seems ripe for causing a bug. Prefer something like gbm1 <- gbm( and all the arguments) Greg
-------- Original message --------From: samchatterman ***@***.***> Date: 8/24/22  6:59 PM  (GMT-05:00) To: gbm-develop

[2022-08-24 23:48] SumantraChatterjee commented on #65
My apologies, **1:trees** must have been a typo. I meant **n.trees**. Sorry for the inconvenience caused.

[2022-08-24 23:50] gregridgeway commented on #65
But I also do not see 1:n.trees in the code eitherGreg
-------- Original message --------From: samchatterman ***@***.***> Date: 8/24/22  7:48 PM  (GMT-05:00) To: gbm-developers/gbm ***@***.***> Cc: Greg Ridgeway ***@***.***>, Comment ***@***.***> Subject: Re: [gbm-developers/gbm] Error in 1: trees : argument of length 0
  (Issue #65)
My apologies, 1:trees must have been a typo. I meant n.trees. So

[2022-08-25 00:04] bgreenwell commented on #65
Hi @samchatterman, debugging issues like this can be pretty challenging and time consuming without the ability to run a [reproducible example](https://reprex.tidyverse.org/). Could you kindly reproduce with a different data set that you can share (e.g., from the **mlbench** or **modeldata** packages) and post the example code in its entirety to this thread so that we can run it on our end?

[2022-08-25 18:09] SumantraChatterjee commented on #65
I just created some dummy data, no relation to my research data and attaching as CSV file. Hope this will help?
[FAKEDATA.csv](https://github.com/gbm-developers/gbm/files/9427285/FAKEDATA.csv)

[2022-08-25 19:38] SumantraChatterjee commented on #65
Ok. I was digging more, and if this help you guys to pinpoint the issue- if I run GBM by itself (even if I run in a loop) the issue does not arise. However, it arises when I use GBM with more regression models. So here is the modified code:

library(e1071)
library(tidyverse)
library(caret)
library(glmnet)

custom <- trainControl(method= "repeatedcv",
                       number=10,

[2022-08-25 20:09] gregridgeway commented on #65
And what is the error message? Can you cut-and-paste the complete error message?

From: samchatterman ***@***.***>
Sent: Thursday, August 25, 2022 3:39 PM
To: gbm-developers/gbm ***@***.***>
Cc: Greg Ridgeway ***@***.***>; Comment ***@***.***>
Subject: Re: [gbm-developers/gbm] Error in 1: trees : argument of length 0 (Issue #65)

Ok. I was digging more, and if this help you guys to pinpoint the is

[2022-08-25 20:15] SumantraChatterjee commented on #65
This the error message

Using 1000 trees...

Using 1000 trees...

Error in 1:n.trees : argument of length 0

[2022-09-20 02:31] J-Moravec opened #69 "Potential typo in documentation"
There might be a typo in documentation in the following lines of the `gbm()` function:

https://github.com/gbm-developers/gbm/blob/18e595597e19c289328f5eb0b73945a1ea72fc7d/R/gbm.R#L25-L32

[code]

The last bracket does not have a matching bracket, and the word "classes" doesn't fit in the context, I presume that it relates to something else? Possibly a deleted mention of multinomial error, which i

[2022-09-20 02:41] bgreenwell commented on #69
Thanks @J-Moravec!

[2022-10-24 14:51] mikkoku opened #70 "Problems with bernoulli response silently ignored"
I was wondering why gbm didn't give any prediction for my classification problem. Found out that I had tried 2 wrong ways of specifying the response, and in both cases the problem was silently ignored.
For example 2 of the following silently ignore the problem and state that no variable had non-zero influence.
[code]

https://github.com/gbm-developers/gbm/blob/90c871133a226f73d235b82823bab69111984

[2022-10-24 15:16] bgreenwell commented on #70
Thanks @mikkoku, I’ll take a close look shortly.